


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aboutus.css">
    <title>Register Page</title>
</head>
<body>
    <header class="header">
        <a href="http://localhost:8000/yoga" id="logo">Yogasana</a>

        <nav class="navbar">
            <a href="http://localhost:8000/yoga">home</a>
            <a href="http://localhost:8000/yoga/class">class</a>
            <a href="http://localhost:8000/yoga/about">about</a>
            <a href="http://localhost:8000/yoga/gallery">gallery</a>
            <a href="http://localhost:8000/yoga/contact">contact</a>
        </nav>

    

    </header>

<div class="Registration-form">
    <div class="main-content">
        <div class="inner-content">
    <h2>Register Here</h2>
    <form method="post" action="/aboutus" class="main-form">
        <input placeholder="Enter username" name = "username"/><br><br>
        <textarea placeholder="Write a Post" name = "content"></textarea>
        <button>Submit</button>
    </form>
</div>
</div>
</div>

   
</body>
</html>