<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <title>About us </title>
</head>
<body>
    <header class="header">
        <a href="http://localhost:8000/yoga" id="logo">Yogasana</a>

        <nav class="navbar">
            <a href="http://localhost:8000/yoga">home</a>
            <a href="http://localhost:8000/yoga/class">class</a>
            <a href="http://localhost:8000/yoga/about">about</a>
            <a href="http://localhost:8000/yoga/gallery">gallery</a>
            <a href="http://localhost:8000/yoga/contact">contact</a>
        </nav>

    </header>

    
    <div class="our-instructor">
        <div class="main-instructor">
    
            <div class="inner-instructor">
                <img src="https://www.hindustantimes.com/ht-img/img/2023/07/03/900x1600/yoga_poses_1688360524797_1688360536555.jpg" alt="">
            </div>
    
            <div class="inner-instructor">
                <div class="inner-content-instructor">
                    <h2>New<br> Experience</h2>
                <p>Engaging in a new yoga practice has profoundly enriched my understanding of Goal 3 of the Sustainable Development Goals (SDGs), which focuses on ensuring healthy lives and promoting well-being for all at all ages. As I embraced yoga, I discovered its holistic approach to health, which aligns closely with this goal. Yoga not only enhances physical fitness by improving strength, flexibility, and balance, but it also fosters mental clarity and emotional stability. This practice encourages a balanced lifestyle, reducing stress and promoting mindfulness, which are essential for overall well-being. By incorporating yoga into my daily routine, I've experienced firsthand how it can contribute to a more sustainable and healthy lifestyle, supporting both personal health and the broader objective of global well-being.</p>
             
                
                <p><b>💡 "Goal 3: Health & Well-being—Read more about the future of health! 🌟"</b></p>
                <br>
                <a href="https://data.unicef.org/sdgs/goal-3-good-health-wellbeing/#:~:text=Goal%203%20aims%20to%20ensure,life%2C%20starting%20from%20the%20beginning.">Read more</a>
                </div>
                
            </div>
        </div>
    </div>
    
    <hr>

    <div class="our-prices">
        <h1>prices</h1>
        <div class="main-prices">
            <div class="inner-prices">
                <h2>Newbie classes</h2>
                <h3>prices : $30.00/</h3>
                <div class="price-icon">
                    <i class="fas fa-award"></i>
                </div>
                <a href="http://localhost:8000/yoga/aboutus">Register now</a>
            </div>
   
            <div class="inner-prices">
                <h2>Meditation classes</h2>
                <h3>prices : $10.00/</h3>
                <div class="price-icon">
                    <i class="fas fa-award"></i>
                </div>
                <a href="http://localhost:8000/yoga/aboutus">Register now</a>
            </div>
    
            <div class="inner-prices">
                <h2>Advanced classes</h2>
                <h3>prices : $20.00/</h3>
                <div class="price-icon">
                    <i class="fas fa-award"></i>
                </div>
                <a href="http://localhost:8000/yoga/aboutus">Register now</a>
            </div>
        </div>
    </div>
</body>
</html>