<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/class.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <title>Post in Detail</title>
</head>
<body>

    <header class="header">
        <a href="http://localhost:8000/yoga" id="logo">Yogasana</a>

        <nav class="navbar">
            <a href="http://localhost:8000/yoga">home</a>
            <a href="http://localhost:8000/yoga/class">class</a>
            <a href="http://localhost:8000/yoga/about">about</a>
            <a href="http://localhost:8000/yoga/gallery">gallery</a>
            <a href="http://localhost:8000/yoga/contact">contact</a>
        </nav>

    </header>

    
    <div class="our-classes">

     <h1>Yoga classes</h1>
    
        <div class="main-class">
            <div class="inner-class">
                <img src="images/class1.png" alt="">
                <div class="class-content">
                    <h2>newbie class playlist-1</h2>
                    
                    <iframe width="250" height="150" src="https://www.youtube.com/embed/gXuq4M5rU9E" title="20 Minute Evening Yoga Flow | Daily Routine To Relax &amp; Unwind" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                   
                    <p>"Find peace and strength: Your ultimate yoga playlist awaits. 🌟"</p>
                    <br>
                    <a href="https://www.youtube.com/watch?v=gXuq4M5rU9E&pp=ygUEeW9nYQ%3D%3D">Watch Now</a>
                </div>
            </div>
    
            <div class="inner-class">
                <img src="images/class1.png" alt="">
                <div class="class-content">
                    <h2>newbie class playlist-2</h2>
                    <iframe width="250" height="150" src="https://www.youtube.com/embed/Wu2pioN4CnI" title="Summer Glow 30 Min Yoga - Playful Full Body Stretch &amp; Strengthen" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>"Breathe, stretch, and transform with our new yoga series. 🌿"</p>
                    <br>
                    <a href="https://www.youtube.com/watch?v=Wu2pioN4CnI">Watch Now</a>
                </div>
            </div>
    
            <div class="inner-class">
                <img src="images/class1.png" alt="">
                <div class="class-content">
                    <h2>newbie class playlist-3</h2>
                    <iframe width="250" height="150" src="https://www.youtube.com/embed/-W9k3Onmjus" title="25 Min Full Body Yoga Flow | Stretches to open your body &amp; feel good!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>"Unlock the secrets of yoga with easy-to-follow tutorials. 📿"</p>
                    <br>
                    <a href="https://www.youtube.com/watch?v=-W9k3Onmjus">Watch Now</a>
                </div>
            </div>
        </div>
    </div>
    

   
    
</body>
</html>