<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <title>Contact us </title>
</head>
<body>
    <header class="header">
        <a href="http://localhost:8000/yoga" id="logo">Yogasana</a>

        <nav class="navbar">
            <a href="http://localhost:8000/yoga">home</a>
            <a href="http://localhost:8000/yoga/class">class</a>
            <a href="http://localhost:8000/yoga/about">about</a>
            <a href="http://localhost:8000/yoga/gallery">gallery</a>
            <a href="http://localhost:8000/yoga/contact">contact</a>
        </nav>



    </header>

    
    <div class="contact-us">
        <div class="main-contact">
            <div class="inner-contact">
                <h1>Contact us</h1>
                <br>
                <div class="inner-form-contact">
                    <ul>
                    <li><h3>Address:</h3>
                    <p>123 Demo Street,
                    Suite 456,
                    Demo City, DC 78901,
                    Country</p></li>
                    
                   <li><h3> Phone:</h3>
                    +1 (555) 123-4567</li>
                    
                    <li><h3>Email:</h3>
                    info@demowebsite.com</li>
                    
                   <li> <h3>Business Hours:</h3>
                    Monday - Friday: 9:00 AM - 5:00 PM
                    Saturday: 10:00 AM - 3:00 PM
                    Sunday: Closed</li>
                    <br>
                    <h3>Social Media:</h3>
                    <ul>
                    <li>Facebook</li>
                        <li>Twitter</li>
                            <li>LinkedIn</li>
                    <li>Instagram</li>
                    </ul>
                    
                </div>
                <br>
                <br>
                <br>
                
           <a href="http://localhost:8000/yoga/aboutus">Register here</a>
            </div>

    
            <div class="inner-contact">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141041/619742699-H.webp" alt="">
            </div>
        </div>
    </div>
</body>
</html>