<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gallery.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <title>Yoga Gallery</title>
</head>
<body>
    
    <header class="header">
        <a href="http://localhost:8000/yoga" id="logo">Yogasana</a>

        <nav class="navbar">
            <a href="http://localhost:8000/yoga">home</a>
            <a href="http://localhost:8000/yoga/class">class</a>
            <a href="http://localhost:8000/yoga/about">about</a>
            <a href="http://localhost:8000/yoga/gallery">gallery</a>
            <a href="http://localhost:8000/yoga/contact">contact</a>
        </nav>


    </header>

    <div class="our-gallery">
        <h1>gallery</h1>
        <div class="main-gallery">
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141047/515885956-H-1024x700.webp" alt="Loading Image">
            </div>
    
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141041/619742699-H.webp" alt="Loading Image">
            </div>
    
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141045/422380918-H.webp" alt="loading Image">
            </div>
    
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141040/713186707-H.webp" alt="Loading Image">
            </div>
    
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141052/345901910-H.webp" alt="Loading Image">
            </div>
    
            <div class="inner-gallery">
                <img src="https://cdn.cdnparenting.com/articles/2019/01/25141051/709642795-H.webp" alt="Loading Image">
            </div>
        </div>
    </div>
    
</body>
</html>